li {
  list-style-type: none;
  padding-left: 400px;
}

#activeCheckBox {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

#taskDetails {
  text-decoration: line-through;
  font-size: x-large;
  vertical-align: top;
}

.fa {
  position: absolute;
  left: 1152px;
  cursor: pointer;
  float: right;
}

.deleteAll {
  margin-top: 50px;
  margin-left: 1095px;
  height: 34px;
  width: 94px;
  background-color: lightblue;
  cursor: pointer;
}
